{% extends 'courses/base.html' %}
{% load staticfiles %}
{% block content %}

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/imgs/slide1.jpg" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="/static/imgs/slide2.jpg" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="/static/imgs/slide3.jpg" alt="New York" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="/static/imgs/slide4.jpg" alt="New York" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="/static/imgs/slide5.jpg" alt="New York" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
 <style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  pre {
    font-size: .7rem;
    margin: 0;
}

  </style>
<!-- <div>
	{% for post in posts %}
		<h1>{{ post.body }}</h1>
	{% endfor %}
</div> -->

<div>
	<ul>
	{% for user in users %}
		<div>
		<li>	
		<h1>{{ user.name }}</h1>
		</div>
		{% for post in posts %}
		<ul>
			{% if user.id == post.userid %}
			<div>
				<li>
				<h5>{{post.title}}</h5>
			    </li>
			</div>
			<hr>
			{% endif %}
		</ul>
		{% endfor %}
	    </li>
	{% endfor %}	
	</ul>		
</div>

{% endblock content %}

